.landing-page .group-30 {
  margin: 0 4px 0px 0;
  width: 121px;
  height: 28px;
}

.landing-page .vector-6 {
  width: 18px;
  height: 28px;
}

.landing-page .logo {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  width: 143px;
  height: fit-content;
  box-sizing: border-box;
}

.landing-page .header-3-regular {
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-16-px-medium-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .main-button {
  border-radius: 8px;
  background: var(--foundation-purplepurple-500, #6200EE);
  padding: 12px;
  width: 140px;
  box-sizing: border-box;
}

.landing-page .frame-1 {
  box-shadow: var(--px, 0px 2px 2px 2px rgba(34, 34, 34, 0.08));
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 23px 80px;
  width: 1440px;
  box-sizing: border-box;
}

.landing-page .helvetica-neue-18-px-bold-4 {
  margin-right: 21px;
  width: 85.6px;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-bold-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-bold-font-weight, 700);
  font-size: var(--helvetica-neue-28-px-bold-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-bold-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .helvetica-neue-18-px-bold-5 {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-24-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-24-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-24-px-regular-font-size, 24px);
  line-height: var(--helvetica-neue-24-px-regular-line-height, 1.5);
  color: var(--foundation-purplepurple-50, #EFE6FD);
}

.landing-page .helvetica-neue-18-px-bold-6 {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-24-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-24-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-24-px-regular-font-size, 24px);
  line-height: var(--helvetica-neue-24-px-regular-line-height, 1.5);
  color: var(--foundation-purplepurple-50, #EFE6FD);
}

.landing-page .helvetica-neue-18-px-bold-7 {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-24-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-24-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-24-px-regular-font-size, 24px);
  line-height: var(--helvetica-neue-24-px-regular-line-height, 1.5);
  color: var(--foundation-purplepurple-50, #EFE6FD);
}

.landing-page .helvetica-neue-18-px-bold-8 {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-24-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-24-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-24-px-regular-font-size, 24px);
  line-height: var(--helvetica-neue-24-px-regular-line-height, 1.5);
  color: var(--foundation-purplepurple-50, #EFE6FD);
}

.landing-page .helvetica-neue-18-px-bold-9 {
  margin-right: 18px;
  width: 84.4px;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-24-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-24-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-24-px-regular-font-size, 24px);
  line-height: var(--helvetica-neue-24-px-regular-line-height, 1.5);
  color: var(--foundation-purplepurple-50, #EFE6FD);
}

.landing-page .helvetica-neue-18-px-bold-10 {
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-24-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-24-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-24-px-regular-font-size, 24px);
  line-height: var(--helvetica-neue-24-px-regular-line-height, 1.5);
  color: var(--foundation-purplepurple-50, #EFE6FD);
}

.landing-page .container-3 {
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 177.3px;
  height: fit-content;
  box-sizing: border-box;
}

.landing-page .frame-2147225219 {
  margin: 0 0.7px 48px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 820.7px; */
  width: 720.7px;
  box-sizing: border-box;
}

.landing-page .helvetica-neue-18-px-bold {
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 90px;
  /* line-height: 1.2; */
  line-height: 1.2;
  color: #FFFFFF;
}

.landing-page .helvetica-neue-18-px-bold-1 {
  position: absolute;
  left: 50%;
  /* bottom: 24px; */
  bottom: -8px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-32-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-32-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-32-px-regular-font-size, 22px);
  line-height: var(--helvetica-neue-32-px-regular-line-height, 1.0);
  color: #FFFFFF;
}

.landing-page .group-33 {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  box-sizing: border-box;
}

.landing-page .header-3-regular-1 {
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-16-px-medium-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .main-button-1 {
  border-radius: 8px;
  background: var(--foundation-purplepurple-500, #6200EE);
  margin-right: 1px;
  display: flex;
  padding: 20px 10.9px 20px 0;
  width: 284px;
  box-sizing: border-box;
  justify-content: center;
}

.landing-page .frame-2147225209 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../IMG_3294.jpg') 50% / cover no-repeat;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 183px 0 272px 0;
  width: 1440px;
  box-sizing: border-box;
}

.landing-page .be-the-first-to-film {
  margin: 0 32.7px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-28-px-medium-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-medium-line-height, 1.5);
  color: var(--foundation-purplepurple-500, #6200EE);
}

.landing-page .helvetica-neue-18-px-bold-3 {
  margin: 0 0 24px 1.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5;
  color: var(--foundation-greygrey-900, #0E0E0E);
}

.landing-page .helvetica-neue-18-px-bold-2 {
  margin: 0 0 42.5px 2px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-28-px-regular-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-regular-line-height, 1.5);
  color: var(--foundation-greygrey-300, #6B6B6B);
}

.landing-page .vector {
  width: 51px;
  height: 53.5px;
}

.landing-page .mdimap-search-outline {
  margin: 0 0 17.5px 1px;
  display: flex;
  width: 51px;
  height: 53.5px;
  box-sizing: border-box;
}

.landing-page .helvetica-neue-18-px-bold-14 {
  margin: 0 38.8px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-bold-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-bold-font-weight, 700);
  font-size: var(--helvetica-neue-28-px-bold-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-bold-line-height, 1.5);
  color: var(--foundation-greygrey-700, #181818);
}

.landing-page .helvetica-neue-18-px-bold-11 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-20-px-regular-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-regular-line-height, 1.5);
  color: var(--foundation-greygrey-400, #4E4E4E);
}

.landing-page .frame-96 {
  margin: 2.5px 63.5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.landing-page .vector-7 {
  width: 45px;
  height: 50px;
}

.landing-page .mdievent-busy-outline {
  margin-bottom: 23.5px;
  display: flex;
  width: 45px;
  height: 50px;
  box-sizing: border-box;
}

.landing-page .helvetica-neue-18-px-bold-15 {
  margin: 0 45.4px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-bold-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-bold-font-weight, 700);
  font-size: var(--helvetica-neue-28-px-bold-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-bold-line-height, 1.5);
  color: var(--foundation-greygrey-700, #181818);
}

.landing-page .helvetica-neue-18-px-bold-12 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-20-px-regular-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-regular-line-height, 1.5);
  color: var(--foundation-greygrey-400, #4E4E4E);
}

.landing-page .frame-2147225210 {
  margin-right: 49.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.landing-page .group {
  width: 47.5px;
  height: 42.5px;
}

.landing-page .icon-parklist {
  margin-bottom: 24.8px;
  display: flex;
  width: 47.5px;
  height: 42.5px;
  box-sizing: border-box;
}

.landing-page .helvetica-neue-18-px-bold-16 {
  margin: 0 38.6px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-bold-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-bold-font-weight, 700);
  font-size: var(--helvetica-neue-28-px-bold-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-bold-line-height, 1.5);
  color: var(--foundation-greygrey-700, #181818);
}

.landing-page .helvetica-neue-18-px-bold-13 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-20-px-regular-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-regular-line-height, 1.5);
  color: var(--foundation-greygrey-400, #4E4E4E);
}

.landing-page .frame-2147225211 {
  margin-top: 6.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.landing-page .group-34 {
  margin: 0 104px 100px 118.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .be-the-first-to-film-1 {
  margin: 0 34.7px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-28-px-medium-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-medium-line-height, 1.5);
  color: var(--foundation-purplepurple-500, #6200EE);
}

.landing-page .helvetica-neue-18-px-bold-18 {
  margin: 0 51.4px 24px 46.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5;
  color: var(--foundation-greygrey-900, #0E0E0E);
}

.landing-page .helvetica-neue-18-px-bold-17 {
  margin: 0 4.1px 45px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-28-px-regular-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-regular-line-height, 1.5);
  color: var(--foundation-greygrey-300, #6B6B6B);
}

.landing-page .vector-15 {
  width: 45px;
  height: 49.7px;
}

.landing-page .mingcutesafety-certificate-line {
  margin-bottom: 21.1px;
  display: flex;
  align-self: center;
  width: 45px;
  height: 49.7px;
  box-sizing: border-box;
}

.landing-page .helvetica-neue-18-px-bold-19 {
  margin: 0 25.4px 16px 25.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-bold-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-bold-font-weight, 700);
  font-size: var(--helvetica-neue-28-px-bold-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-bold-line-height, 1.5);
  color: var(--foundation-greygrey-700, #181818);
}

.landing-page .helvetica-neue-18-px-bold-20 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-20-px-regular-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-regular-line-height, 1.5);
  color: var(--foundation-greygrey-400, #4E4E4E);
}

.landing-page .frame-961 {
  margin: 0.2px 47px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.landing-page .vector-14 {
  width: 52.5px;
  height: 52.5px;
}

.landing-page .fluentcommunication-shield-24-regular {
  margin: 0 0 18.5px 2.5px;
  display: flex;
  align-self: center;
  width: 52.5px;
  height: 52.5px;
  box-sizing: border-box;
}

.landing-page .helvetica-neue-18-px-bold-21 {
  margin: 0 12.1px 16px 12.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-bold-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-bold-font-weight, 700);
  font-size: var(--helvetica-neue-28-px-bold-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-bold-line-height, 1.5);
  color: var(--foundation-greygrey-700, #181818);
}

.landing-page .helvetica-neue-18-px-bold-22 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-20-px-regular-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-regular-line-height, 1.5);
  color: var(--foundation-greygrey-400, #4E4E4E);
}

.landing-page .frame-21472252101 {
  margin-right: 40.9px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.landing-page .group-1 {
  width: 47.5px;
  height: 42.5px;
}

.landing-page .icon-parklist-1 {
  margin-bottom: 24.8px;
  display: flex;
  width: 47.5px;
  height: 42.5px;
  box-sizing: border-box;
}

.landing-page .helvetica-neue-18-px-bold-23 {
  margin: 0 31.7px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-28-px-bold-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-28-px-bold-font-weight, 700);
  font-size: var(--helvetica-neue-28-px-bold-font-size, 28px);
  line-height: var(--helvetica-neue-28-px-bold-line-height, 1.5);
  color: var(--foundation-greygrey-700, #181818);
}

.landing-page .helvetica-neue-18-px-bold-24 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-20-px-regular-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-regular-line-height, 1.5);
  color: var(--foundation-greygrey-400, #4E4E4E);
}

.landing-page .frame-21472252111 {
  margin-top: 3.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.landing-page .group-35 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .group-36 {
  margin: 0 94px 56px 100.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .header-3-regular-2 {
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-16-px-medium-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .main-button-2 {
  border-radius: 8px;
  background: var(--foundation-purplepurple-500, #6200EE);
  margin-bottom: 120px;
  display: flex;
  padding: 20px 15px 20px 0;
  width: 284px;
  box-sizing: border-box;
  justify-content: center;
}

.landing-page .helvetica-neue-18-px-bold-25 {
  margin-bottom: 40px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-40-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-40-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-40-px-medium-font-size, 40px);
  line-height: var(--helvetica-neue-40-px-medium-line-height, 1.5);
  color: var(--foundation-greygrey-900, #0E0E0E);
}

.landing-page .helvetica-neue-18-px-bold-26 {
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-18-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-18-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-18-px-medium-font-size, 18px);
  line-height: var(--helvetica-neue-18-px-medium-line-height, 1.556);
  color: var(--foundation-greygrey-400, #4E4E4E);
}

.landing-page .frame-87 {
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--foundation-purplepurple-500, #6200EE);
  margin-right: 12px;
  display: flex;
  padding: 18px 29.1px 17px 0;
  width: 380px;
  box-sizing: border-box;
}

.landing-page .header-3-regular-3 {
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-16-px-medium-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .main-button-3 {
  border-radius: 8px;
  background: var(--foundation-purplepurple-500, #6200EE);
  margin-top: 1px;
  display: flex;
  padding: 20px 10.9px 20px 0;
  width: 154px;
  height: fit-content;
  box-sizing: border-box;
  justify-content: center;
}

.landing-page .group-31 {
  margin-bottom: 121px;
  display: flex;
  flex-direction: row;
  width: 546px;
  box-sizing: border-box;
}

.landing-page .company {
  margin: 0 0 20px 7.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-20-px-medium-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .about-us {
  margin: 0 11.8px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .contact-us {
  margin-bottom: 12px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .services {
  margin: 0 15.8px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .careers {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .blog {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .terms {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .privacy {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .frame-51 {
  margin-right: 12.2px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .frame-49 {
  margin-right: 127.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.landing-page .support {
  margin: 0 6px 20px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-20-px-medium-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .help-center {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .faq {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .community {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .resource-center {
  margin: 0 17.8px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .trust-safety {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .report-vulnerability {
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .frame-511 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .frame-50 {
  margin: 0 137.4px 36px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.landing-page .host {
  margin: 0 3.3px 20px 3.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-20-px-medium-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .list-your-space {
  margin-bottom: 12px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .community-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .frame-512 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .frame-53 {
  margin: 0 135.1px 180px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.landing-page .countries {
  margin: 0 0 20px 6.6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-20-px-medium-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .nigeria {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .south-africa {
  margin-bottom: 12px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .ghana {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .cote-divore {
  margin: 0 3.4px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .ivory-coast {
  margin: 0 7.2px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .mali {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .frame-514 {
  margin-right: 5.3px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .frame-513 {
  margin: 0 126.6px 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.landing-page .activities {
  margin: 0 5.3px 20px 5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-20-px-medium-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-20-px-medium-font-weight, 500);
  font-size: var(--helvetica-neue-20-px-medium-font-size, 20px);
  line-height: var(--helvetica-neue-20-px-medium-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .production {
  margin: 0 16.4px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .filming {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .music-videos {
  margin-bottom: 12px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .photo-shoot {
  margin: 0 7.5px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page-5 .meeting {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .view-all {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--helvetica-neue-16-px-regular-font-family, 'Helvetica Neue', 'Roboto Condensed');
  font-weight: var(--helvetica-neue-16-px-regular-font-weight, 400);
  font-size: var(--helvetica-neue-16-px-regular-font-size, 16px);
  line-height: var(--helvetica-neue-16-px-regular-line-height, 1.5);
  color: #FFFFFF;
}

.landing-page .frame-515 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .frame-521 {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.landing-page .frame-52 {
  margin: 0 8.7px 47px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.landing-page .line-22 {
  background: #F5F5F5;
  margin-bottom: 19px;
  width: 1235px;
  height: 1px;
}

.landing-page .skouta-made-with-in-nigeria-all-rights-reserved {
  margin: 4px 18px 0 0;
  display: inline-block;
  width: 1048px;
  overflow-wrap: break-word;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 2.25;
  color: #FFFFFF;
}

.landing-page .google-symbol-svg {
  margin: 0 16px 0px 0;
  width: 32px;
  height: 32px;
}

.landing-page .vector-20 {
  background: #F1511B;
  margin-right: 1.6px;
  width: 15.2px;
  height: 15.2px;
}

.landing-page .vector-21 {
  width: 15.2px;
  height: 15.2px;
}

.landing-page .container-2 {
  margin-bottom: 1.6px;
  display: flex;
  flex-direction: row;
  width: 32px;
  box-sizing: border-box;
}

.landing-page .vector-22 {
  background: #00ADEF;
  margin-right: 1.6px;
  width: 15.2px;
  height: 15.2px;
}

.landing-page .vector-23 {
  width: 15.2px;
  height: 15.2px;
}

.landing-page .container {
  display: flex;
  /* background-image: url("../IMAGES/IMG_3294.jpg"); */
  flex-direction: row;
  width: 32px;
  box-sizing: border-box;
}

.landing-page .microsoft-symbol-svg {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32px;
  box-sizing: border-box;
}

.landing-page .g-12 {
  width: 32px;
  height: 32px;
}

.landing-page .symbol-svg {
  margin: 0 16px 0px 0;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.landing-page .vector-24 {
  width: 25px;
  height: 32px;
}

.landing-page .apple-logo-svg {
  margin-bottom: 0px;
  display: flex;
  width: 25px;
  height: 32px;
  box-sizing: border-box;
}

.landing-page .frame-2147225220 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  width: 169px;
  height: fit-content;
  box-sizing: border-box;
}

.landing-page .container-1 {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1235px;
  box-sizing: border-box;
}

.landing-page .frame-2147225202 {
  background: var(--foundation-purplepurple-900, #290064);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 103px 15px 102px;
  width: 1440px;
  box-sizing: border-box;
}

.landing-page {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}

@media (min-device-width:1200px) and (max-device-height: 1600px) and (--webkit-min-device-pixel-ratio: 1) {
  .landing-page {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
}

/* @media (max-width:750px) {
  .landing-page {
    
  }
}